In [1]:
import pandas as pd

In [3]:
release_pd = pd.read_csv(r'C:\Users\Anand\Documents\data_challenge\release.csv.gz')

In [11]:
micro_df = pd.read_csv(r'C:\Users\Anand\Documents\data_challenge\v234_aggregated_micro_gc14_2014.csv.gz',header=None)

In [45]:
release_pd.head()

,ReleaseNumber,SubmissionNumber,Media,PoundsReleased,OffsiteNumber,TotalScore,TEF,DateUpdated
0,1,1,1,250.0,-1,NaN,NaN,NaN
1,2,2,1,5.0,-1,NaN,NaN,NaN
2,3,2,2,5.0,-1,NaN,NaN,NaN
3,4,3,1,2753.0,-1,NaN,NaN,NaN
4,5,4,1,9765.0,-1,NaN,NaN,NaN

In [13]:
micro_df.columns = ['X','Y','NumberOfFacilites','NumberOfReleases','NumberOfChemicals','ToxConc','Score','Pop','ScoreCancer','ScoreNonCancer']

In [49]:
micro_df.sort_values('ScoreCancer',ascending=False).head()

,X,Y,NumberOfFacilites,NumberOfReleases,NumberOfChemicals,ToxConc,Score,Pop,ScoreCancer,ScoreNonCancer
6374515,2112,2614,129,593,82,21811500.0,6059390.0,1224.210,6059280.0,5465.62
5608817,1412,2437,63,331,49,14005000.0,3011170.0,961.102,3011150.0,4466.91
6668485,705,2680,66,290,47,13671900.0,2309310.0,782.312,2309270.0,1931.28
6448773,838,2631,428,2302,138,1806930.0,1804390.0,4245.720,1802160.0,6553.33
6840716,2258,2723,183,895,80,2810150.0,1686030.0,2761.760,1686010.0,1400.37

In [51]:
micro_df.X.get_values()

array([ 1754,  1755,  1756, ..., -2363, -2362, -2361], dtype=int64)

In [19]:
facility_df = pd.read_csv(r'C:\Users\Anand\Documents\data_challenge\facility.csv.gz',encoding="ISO-8859-1")

C:\Users\Anand\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (22,28,30,44,50,51,52,56,58,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
offsite_df = pd.read_csv(r'C:\Users\Anand\Documents\data_challenge\offsite.csv.gz',encoding="ISO-8859-1")

C:\Users\Anand\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
sorted_micro_cancer = micro_df.sort_values('ScoreCancer',ascending=False)

In [144]:
#Combining facility and offsite 
fact_df = offsite_df[['X','Y','State','FacilityNumber','City','Latitude','Longitude']].merge(facility_df[['X','Y','State','FacilityNumber']],on=['X','Y'],how='outer')

In [145]:
merged_fact = fact_df[(fact_df.X != -9999)].dropna()

In [146]:
merged_fact

,X,Y,State_x,FacilityNumber_x,City,Latitude,Longitude,State_y,FacilityNumber_y
0,2180.0,2587.0,PA,29451.0,BENSALEM,40.107174,-74.927676,PA,9997.0
126881,1214.0,2276.0,KY,29457.0,NEWPORT,39.078226,-84.495797,KY,24130.0
126882,1214.0,2276.0,KY,29457.0,NEWPORT,39.078226,-84.495797,KY,24132.0
126883,1214.0,2276.0,KY,15578.0,NEWPORT,39.078341,-84.495846,KY,24130.0
126884,1214.0,2276.0,KY,15578.0,NEWPORT,39.078341,-84.495846,KY,24132.0
126885,2292.0,2746.0,CT,29458.0,STANFORD,41.044819,-73.529289,CT,3997.0
126886,2292.0,2746.0,CT,28221.0,STAMFORD,41.044819,-73.529289,CT,3997.0
126887,2292.0,2746.0,CT,38196.0,STAMFORD,41.045210,-73.527890,CT,3997.0
126899,2259.0,2691.0,NY,29460.0,BROOKLYN,40.709535,-73.968305,NY,5941.0
126900,2259.0,2691.0,NY,31483.0,BROOKLYN,40.714320,-73.965141,NY,5941.0
126915,1191.0,1711.0,TN,29463.0,CHATTANOOGA,35.046497,-85.315610,TN,21711.0
126916,1191.0,1711.0,TN,1001983.0,CHATTANOOGA,35.046497,-85.315610,TN,21711.0
126917,1191.0,1711.0,TN,1009064.0,CHATTANOOGA,35.045900,-85.309700,TN,21711.0
126918,1191.0,1711.0,TN,1201602.0,CHATTANOOGA,35.046497,-85.315610,TN,21711.0
126919,1191.0,1711.0,TN,15706.0,CHATTANOOGA,35.043618,-85.310279,TN,21711.0
126920,1191.0,1711.0,TN,17548.0,CHATTANOOGA,35.046497,-85.315610,TN,21711.0
126921,1191.0,1711.0,TN,21832.0,CHATTANOOGA,35.046497,-85.315610,TN,21711.0
126922,1191.0,1711.0,TN,27729.0,CHATTANOOGA,35.046497,-85.315610,TN,21711.0
126923,1191.0,1711.0,TN,33602.0,CHATTANOOGA,35.046497,-85.315610,TN,21711.0
126939,1415.0,2439.0,OH,29469.0,NEWARK,40.059932,-82.400385,OH,24661.0
127032,1295.0,2744.0,MI,1203157.0,DETROIT,42.365864,-83.143148,MI,31051.0
127033,1295.0,2744.0,MI,1200754.0,DETROIT,42.365864,-83.143148,MI,31051.0
127034,1295.0,2744.0,MI,14982.0,DETROIT,42.366447,-83.147305,MI,31051.0
127155,82.0,919.0,TX,1203139.0,HOUSTON,29.773311,-95.313003,TX,47051.0
127156,82.0,919.0,TX,1203139.0,HOUSTON,29.773311,-95.313003,TX,47349.0
127157,82.0,919.0,TX,1000273.0,HOUSTON,29.773311,-95.313003,TX,47051.0
127158,82.0,919.0,TX,1000273.0,HOUSTON,29.773311,-95.313003,TX,47349.0
127159,82.0,919.0,TX,1000571.0,HOUSTON,29.773311,-95.313003,TX,47051.0
127160,82.0,919.0,TX,1000571.0,HOUSTON,29.773311,-95.313003,TX,47349.0
127161,82.0,919.0,TX,1004796.0,HOUSTON,29.773311,-95.313003,TX,47051.0
...,...,...,...,...,...,...,...,...,...
185750,694.0,2539.0,IL,1205881.0,SPRING VALLEY,41.337437,-89.224553,IL,39608.0
185751,694.0,2539.0,IL,1205882.0,SPRING VALLEY,41.337437,-89.224553,IL,39607.0
185752,694.0,2539.0,IL,1205882.0,SPRING VALLEY,41.337437,-89.224553,IL,39608.0
185782,834.0,2570.0,IL,1206017.0,FRANKFORT,41.479471,-87.839700,IL,38245.0
185783,834.0,2570.0,IL,1206017.0,FRANKFORT,41.479471,-87.839700,IL,38261.0
185784,834.0,2570.0,IL,1206018.0,FRANKFORD,41.479471,-87.839700,IL,38245.0
185785,834.0,2570.0,IL,1206018.0,FRANKFORD,41.479471,-87.839700,IL,38261.0
185804,613.0,2166.0,MO,1206088.0,ST. LOUIS,38.683214,-90.238934,MO,40521.0
185805,613.0,2166.0,MO,1206088.0,ST. LOUIS,38.683214,-90.238934,MO,40525.0
185806,613.0,2166.0,MO,1206089.0,ST. LOUIS,38.683214,-90.238934,MO,40521.0
185807,613.0,2166.0,MO,1206089.0,ST. LOUIS,38.683214,-90.238934,MO,40525.0
185841,117.0,2168.0,KS,1206192.0,NEW CENTURY,38.825559,-94.894567,KS,41692.0
185842,117.0,2168.0,KS,1206192.0,NEW CENTURY,38.825559,-94.894567,KS,41695.0
185843,117.0,2168.0,KS,1206192.0,NEW CENTURY,38.825559,-94.894567,KS,41697.0
185844,117.0,2168.0,KS,1206193.0,NEW CENTURY,38.825559,-94.894567,KS,41692.0
185845,117.0,2168.0,KS,1206193.0,NEW CENTURY,38.825559,-94.894567,KS,41695.0
185846,117.0,2168.0,KS,1206193.0,NEW CENTURY,38.825559,-94.894567,KS,41697.0
185887,267.0,3028.0,MN,1206387.0,MINNEAPOLIS,45.038022,-93.253177,MN,36213.0
185892,772.0,2630.0,IL,1206407.0,ST CHARLES,41.947443,-88.391666,IL,38049.0
185923,-2488.0,1785.0,CA,1206538.0,BELL GARDENS,33.954583,-118.164451,CA,52051.0
185924,-2488.0,1785.0,CA,1206538.0,BELL GARDENS,33.954583,-118.164451,CA,52323.0
185938,831.0,1953.0,KY,1206598.0,CALVERT CITY,37.034976,-88.355750,KY,24225.0
185979,1691.0,1326.0,GA,1206735.0,MIDWAY,31.791868,-81.412804,GA,17812.0
185980,1307.0,2155.0,KY,1206739.0,OWINGSVILLE,38.127384,-83.769444,KY,23865.0
185997,2062.0,3225.0,NY,1206797.0,NORTH LAWRENCE,44.802751,-74.670308,NY,6582.0
186000,2.0,29.0,PR,1206830.0,COMERIO,18.210883,-66.232042,PR,110.0
186001,2.0,29.0,PR,1206831.0,COMERIO,18.210883,-66.232042,PR,110.0
186019,2408.0,3095.0,NH,1207138.0,CONCORD,43.286687,-71.576668,NH,2529.0
186020,-2372.0,2541.0,NV,1207147.0,FALLON,39.462868,-118.750510,NV,51519.0
186021,-2372.0,2541.0,NV,1207147.0,FALLON,39.462868,-118.750510,NV,58507.0

In [89]:
micro_df[(micro_df.Y == 2509.857143)]

Empty DataFrame
Columns: [X, Y, NumberOfFacilites, NumberOfReleases, NumberOfChemicals, ToxConc, Score, Pop, ScoreCancer, ScoreNonCancer]
Index: []

In [74]:
grouped_x_y = micro_df[(micro_df.ScoreCancer > micro_df.ScoreCancer.quantile(0.99))].groupby(['Y','X']).mean().reset_index()

In [83]:
grouped_x_y = grouped_x_y.sort_values('ScoreCancer',ascending=False)[:100]

In [155]:
#merging top 1% grouped with offsite facility database to find states
m1_df = grouped_x_y.merge(offsite_df[['X','Y','State','FacilityNumber','City','Latitude','Longitude']],on=['X','Y'],how='left')
m1_df.groupby(['State']).mean().sort_values('ScoreCancer',ascending=False)

,Y,X,NumberOfFacilites,NumberOfReleases,NumberOfChemicals,ToxConc,Score,Pop,ScoreCancer,ScoreNonCancer,FacilityNumber,Latitude,Longitude
State,,,,,,,,,,,,,
OH,2437.0,1412.000000,63.0,331.000000,49.000000,14005000.0,3011170.0,961.102000,3.011150e+06,4466.910000,33385.0,40.049453,-82.426039
PA,2561.5,1836.833333,121.5,1157.333333,132.666667,5351911.5,1356199.0,1678.857333,1.355426e+06,2462.623667,17395.0,40.410165,-78.214256
IN,2296.0,902.000000,27.0,139.000000,34.000000,5806740.0,420673.0,354.881000,4.206350e+05,1479.720000,3963.0,39.464265,-87.415078
TN,1894.0,999.000000,50.0,258.000000,42.000000,2683040.0,377894.0,596.492000,3.778840e+05,316.773000,8973.0,36.501123,-86.872354
CA,1773.5,-2461.000000,352.0,2086.500000,95.000000,3270648.5,346555.0,1287.024500,3.464705e+05,706.803500,19407.5,33.913474,-117.911635
TX,906.0,83.000000,375.0,4860.000000,241.000000,1021480.0,318227.0,1369.790000,3.169260e+05,876.675000,28890.0,29.677160,-95.309071
LA,970.0,665.000000,70.0,864.000000,104.000000,1794720.0,195194.0,477.880000,1.938440e+05,5033.120000,15073.5,30.000926,-90.403850

In [157]:
#grouped the top 1% with facility database to find states 
m_df = grouped_x_y.merge(facility_df[['X','Y','State','FacilityNumber','City','Latitude','Longitude']],on=['X','Y'],how='left')
m_df.groupby(['State']).mean().sort_values('ScoreCancer',ascending=False)[:10]

,Y,X,NumberOfFacilites,NumberOfReleases,NumberOfChemicals,ToxConc,Score,Pop,ScoreCancer,ScoreNonCancer,FacilityNumber,Latitude,Longitude
State,,,,,,,,,,,,,
IL,2635.833333,816.500000,368.666667,1979.666667,123.666667,3.534399e+06,1.635394e+06,3615.102000,1.633324e+06,5574.978333,39090.166667,41.962949,-87.955914
NY,2722.857143,2258.000000,182.000000,881.571429,80.000000,1.645728e+06,1.133293e+06,3533.871429,1.133262e+06,959.562286,5788.714286,40.936821,-73.901437
PA,2566.500000,1834.285714,122.571429,1166.500000,131.357143,7.384631e+06,1.042829e+06,952.073929,1.042389e+06,1846.345571,8555.785714,40.449801,-78.227830
IA,2457.000000,501.000000,22.000000,111.000000,43.000000,9.896950e+06,8.038380e+05,388.979000,8.037000e+05,1289.690000,33451.250000,40.826915,-91.145184
UT,2621.000000,-1640.000000,72.000000,483.000000,62.000000,3.226600e+06,7.451090e+05,962.299000,7.450570e+05,1651.110000,49981.000000,41.101611,-112.022443
OH,2509.857143,1345.571429,152.071429,1072.785714,109.142857,5.745980e+06,7.416986e+05,475.070929,7.415627e+05,1912.674500,25921.214286,40.629320,-82.956650
TX,1052.166667,46.166667,267.666667,3031.833333,186.666667,3.585649e+06,5.444085e+05,893.905333,5.438062e+05,997.382833,48994.000000,30.739368,-95.622831
WI,2709.000000,639.000000,23.000000,96.000000,16.000000,3.013540e+06,5.229900e+05,797.274000,5.228880e+05,1060.760000,34581.000000,42.592300,-89.654400
MI,2881.666667,960.666667,70.666667,331.000000,44.333333,3.229587e+06,4.234453e+05,579.739333,4.234387e+05,636.781333,32525.666667,43.639425,-86.310144
CA,1765.250000,-2460.000000,348.000000,2061.750000,95.000000,4.645079e+06,3.866375e+05,810.681750,3.865648e+05,699.574750,54137.750000,33.859317,-117.884424

In [161]:
#facility details for PA
facility_PA = m_df.groupby('State').get_group('PA')

#offset facility details for PA
offsite_PA = m1_df.groupby('State').get_group('PA')

In [171]:
def facility_details(state,facility_df,offsite_df):
    #grouped dataframe for facility
    m_df = grouped_x_y.merge(facility_df[['X','Y','State','FacilityNumber','City','Latitude','Longitude']],on=['X','Y'],how='left')
    
    #grouped dataframe for offsite
    m1_df = grouped_x_y.merge(offsite_df[['X','Y','State','FacilityNumber','City','Latitude','Longitude']],on=['X','Y'],how='left')
    
    #facility_details for state
    facility_final_df = m_df.groupby('State').get_group(state)

    #offset facility details for PA
    offsite_final_df = m1_df.groupby('State').get_group(state)
    
    return facility_final_df, offsite_final_df

In [172]:
facility_OH, offsite_OH = facility_details('OH',facility_df,offsite_df)

In [175]:
facility_TX, offsite_TX = facility_details('TX',facility_df,offsite_df)

In [176]:
facility_TX

,Y,X,NumberOfFacilites,NumberOfReleases,NumberOfChemicals,ToxConc,Score,Pop,ScoreCancer,ScoreNonCancer,State,FacilityNumber,City,Latitude,Longitude
10,1297,-92,174,750,77,10947500.0,1553620.0,570.661,1553620.0,1267.150,TX,58399.0,RED OAK,32.527442,-96.799251
38,901,89,382,5221,243,1614150.0,537400.0,1415.170,535607.0,2347.730,TX,47283.0,HOUSTON,29.644360,-95.255870
57,951,244,70,1908,246,4300140.0,324812.0,320.646,324559.0,912.514,TX,47941.0,PORT NECHES,29.989935,-93.946562
61,906,83,375,4860,241,1021480.0,318227.0,1369.790,316926.0,876.675,TX,47310.0,HOUSTON,29.674872,-95.308440
66,930,66,366,4581,242,2888230.0,312294.0,465.485,312048.0,374.908,TX,47325.0,HOUSTON,29.854190,-95.445460
98,1328,-113,239,871,71,742396.0,220098.0,1221.680,220077.0,205.320,TX,45706.0,DALLAS,32.745411,-96.981404

In [177]:
offsite_TX

,Y,X,NumberOfFacilites,NumberOfReleases,NumberOfChemicals,ToxConc,Score,Pop,ScoreCancer,ScoreNonCancer,State,FacilityNumber,City,Latitude,Longitude
39,906,83,375,4860,241,1021480.0,318227.0,1369.79,316926.0,876.675,TX,28890.0,HOUSTON,29.67716,-95.309071